# directories to ignore
bundle
cache
cache/**
tmp/
scr/
.git

# files to ignore
# - backup files
*~
**/*~
# - tmp vim swap files
*.swp
**/*.swp
# - python bytecode
*.pyc
**/*.pyc
# - tags created for help texts
tags
**/tags
# - various
.netrwhist

