# directories to ignore
bundle/
cache/
venv/
tmp/
scr/
.git

# files to ignore
# - backup files
cache/**
*~
**/*~
# - tmp vim swap files
*.swp
**/*.swp
# - python bytecode
*.pyc
**/*.pyc
# - tags created for help texts
tags
**/tags
# - various
.netrwhist

